@{
    // View
    View = this;

    // Check action result
    if (refreshTokensList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = refreshTokensList.UseLayout ? "_Layout" : "";
}
@if (!refreshTokensList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(refreshTokensList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { RefreshTokens: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(refreshTokensList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(refreshTokensList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(refreshTokensList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(refreshTokensList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!refreshTokensList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (refreshTokensList.TotalRecords > 0 && refreshTokensList.ExportOptions.Visible) {
    refreshTokensList.ExportOptions.Render("body");
}
@if (refreshTokensList.ImportOptions.Visible) {
    refreshTokensList.ImportOptions.Render("body");
}
@if (refreshTokensList.SearchOptions.Visible) {
    refreshTokensList.SearchOptions.Render("body");
}
@if (refreshTokensList.FilterOptions.Visible) {
    refreshTokensList.FilterOptions.Render("body");
}
</div>
}
@if (!refreshTokensList.IsModal) {
<form name="fRefreshTokenssrch" id="fRefreshTokenssrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fRefreshTokenssrch_search_panel" class="mb-2 mb-sm-0 @(refreshTokensList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(refreshTokensList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { RefreshTokens: currentTable } });
var currentForm;
var fRefreshTokenssrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fRefreshTokenssrch")
        .setPageId("list")
@if (refreshTokensList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(refreshTokensList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (!refreshTokensList.IsExport() && Empty(refreshTokensList.CurrentAction) && refreshTokensList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(refreshTokensList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(refreshTokensList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(refreshTokensList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(refreshTokensList.BasicSearch.SessionType == "" ? " active" : "")" form="fRefreshTokenssrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(refreshTokensList.BasicSearch.SessionType == "=" ? " active" : "")" form="fRefreshTokenssrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(refreshTokensList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fRefreshTokenssrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(refreshTokensList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fRefreshTokenssrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
</div><!-- /.ew-search-panel -->
</form>
}
@refreshTokensList.ShowPageHeader()
@refreshTokensList.ShowMessages()
<main class="list @(refreshTokensList.TotalRecords == 0 && !refreshTokensList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @refreshTokensList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (refreshTokensList.TotalRecords > 0 || !Empty(refreshTokensList.CurrentAction)) {
<div class="card ew-card ew-grid@(refreshTokensList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(refreshTokensList.TableGridClass)">
<form name="@(refreshTokensList.FormName)" id="@(refreshTokensList.FormName)" class="ew-form ew-list-form" action="@AppPath(refreshTokensList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (refreshTokensList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_RefreshTokens" class="card-body ew-grid-middle-panel @(refreshTokensList.TableContainerClass)" style="@(refreshTokensList.TableContainerStyle)">
@if (refreshTokensList.TotalRecords > 0 || refreshTokensList.IsGridEdit || refreshTokensList.IsMultiEdit) {
<table id="tbl_RefreshTokenslist" class="@(refreshTokensList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    refreshTokensList.RowType = RowType.Header;

    // Render list options
    await refreshTokensList.RenderListOptions();
}
@* Render list options (header, left) *@
@refreshTokensList.ListOptions.RenderHeader("left")
@if (refreshTokensList.Id.Visible) { // refreshTokensList.Id.Visible (begin)
        <th data-name="Id" class="@(refreshTokensList.Id.HeaderCellClass)"><div id="elh_RefreshTokens_Id" class="RefreshTokens_Id">@Html.Raw(refreshTokensList.RenderFieldHeader(refreshTokensList.Id))</div></th>
} @* refreshTokensList.Id.Visible (end) *@
@if (refreshTokensList.UserId.Visible) { // refreshTokensList.UserId.Visible (begin)
        <th data-name="UserId" class="@(refreshTokensList.UserId.HeaderCellClass)"><div id="elh_RefreshTokens_UserId" class="RefreshTokens_UserId">@Html.Raw(refreshTokensList.RenderFieldHeader(refreshTokensList.UserId))</div></th>
} @* refreshTokensList.UserId.Visible (end) *@
@if (refreshTokensList._Token.Visible) { // refreshTokensList._Token.Visible (begin)
        <th data-name="_Token" class="@(refreshTokensList._Token.HeaderCellClass)"><div id="elh_RefreshTokens__Token" class="RefreshTokens__Token">@Html.Raw(refreshTokensList.RenderFieldHeader(refreshTokensList._Token))</div></th>
} @* refreshTokensList._Token.Visible (end) *@
@if (refreshTokensList.ExpiryDate.Visible) { // refreshTokensList.ExpiryDate.Visible (begin)
        <th data-name="ExpiryDate" class="@(refreshTokensList.ExpiryDate.HeaderCellClass)"><div id="elh_RefreshTokens_ExpiryDate" class="RefreshTokens_ExpiryDate">@Html.Raw(refreshTokensList.RenderFieldHeader(refreshTokensList.ExpiryDate))</div></th>
} @* refreshTokensList.ExpiryDate.Visible (end) *@
@* Render list options (header, right) *@
@refreshTokensList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(refreshTokensList.PageNumber)">
@{
    await refreshTokensList.SetupGrid();
    bool eof = refreshTokensList.Recordset == null; // DN
}
@while (refreshTokensList.RecordCount < refreshTokensList.StopRecord || SameString(refreshTokensList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(refreshTokensList.RowIndex, "$rowindex$") &&
        (!refreshTokensList.IsGridAdd || refreshTokensList.CurrentMode == "copy") &&
        (!((refreshTokensList.IsCopy || refreshTokensList.IsAdd) && refreshTokensList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await refreshTokensList.Recordset.ReadAsync();
    refreshTokensList.RecordCount++;
    if (refreshTokensList.RecordCount >= refreshTokensList.StartRecord) {
        await refreshTokensList.SetupRow();
    <tr @Html.Raw(refreshTokensList.RowAttributes)>
    @* Render list options (body, left) *@
    @refreshTokensList.ListOptions.RenderBody("left", refreshTokensList.RowCount)
    @if (refreshTokensList.Id.Visible) { // refreshTokensList.Id.Visible (begin)
        <td data-name="Id" @Html.Raw(refreshTokensList.Id.CellAttributes)>
<span id="el@(refreshTokensList.RowIndex == "$rowindex$" ? "$rowindex$" : refreshTokensList.RowCount)_RefreshTokens_Id" class="el_RefreshTokens_Id">
<span @Html.Raw(refreshTokensList.Id.ViewAttributes)>
@Html.Raw(refreshTokensList.Id.GetViewValue())</span>
</span>
</td>
    } @* refreshTokensList.Id.Visible (end) *@
    @if (refreshTokensList.UserId.Visible) { // refreshTokensList.UserId.Visible (begin)
        <td data-name="UserId" @Html.Raw(refreshTokensList.UserId.CellAttributes)>
<span id="el@(refreshTokensList.RowIndex == "$rowindex$" ? "$rowindex$" : refreshTokensList.RowCount)_RefreshTokens_UserId" class="el_RefreshTokens_UserId">
<span @Html.Raw(refreshTokensList.UserId.ViewAttributes)>
@Html.Raw(refreshTokensList.UserId.GetViewValue())</span>
</span>
</td>
    } @* refreshTokensList.UserId.Visible (end) *@
    @if (refreshTokensList._Token.Visible) { // refreshTokensList._Token.Visible (begin)
        <td data-name="_Token" @Html.Raw(refreshTokensList._Token.CellAttributes)>
<span id="el@(refreshTokensList.RowIndex == "$rowindex$" ? "$rowindex$" : refreshTokensList.RowCount)_RefreshTokens__Token" class="el_RefreshTokens__Token">
<span @Html.Raw(refreshTokensList._Token.ViewAttributes)>
@Html.Raw(refreshTokensList._Token.GetViewValue())</span>
</span>
</td>
    } @* refreshTokensList._Token.Visible (end) *@
    @if (refreshTokensList.ExpiryDate.Visible) { // refreshTokensList.ExpiryDate.Visible (begin)
        <td data-name="ExpiryDate" @Html.Raw(refreshTokensList.ExpiryDate.CellAttributes)>
<span id="el@(refreshTokensList.RowIndex == "$rowindex$" ? "$rowindex$" : refreshTokensList.RowCount)_RefreshTokens_ExpiryDate" class="el_RefreshTokens_ExpiryDate">
<span @Html.Raw(refreshTokensList.ExpiryDate.ViewAttributes)>
@Html.Raw(refreshTokensList.ExpiryDate.GetViewValue())</span>
</span>
</td>
    } @* refreshTokensList.ExpiryDate.Visible (end) *@
    @* Render list options (body, right) *@
    @refreshTokensList.ListOptions.RenderBody("right", refreshTokensList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(refreshTokensList.RowIndex, "$rowindex$"))
        refreshTokensList.RowIndex = 0;

    // Reset inline add/copy row
    if ((refreshTokensList.IsCopy || refreshTokensList.IsAdd) && refreshTokensList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        refreshTokensList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(refreshTokensList.CurrentAction) && !refreshTokensList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ refreshTokensList.CloseRecordset(); }
@if (!refreshTokensList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!refreshTokensList.IsGridAdd && !(refreshTokensList.IsGridEdit && refreshTokensList.ModalGridEdit) && !refreshTokensList.IsMultiEdit) {
@Html.Raw(refreshTokensList.Pager.Render())
}
<div class="ew-list-other-options">
@refreshTokensList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@refreshTokensList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @refreshTokensList.FooterOptions.RenderBody()
</div>
</main>
@refreshTokensList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!refreshTokensList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("RefreshTokens");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
