@{
    // View
    View = this;

    // Check action result
    if (usersEdit.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = usersEdit.UseLayout ? "_Layout" : "";
}
@usersEdit.ShowPageHeader()
@usersEdit.ShowMessages()
<main class="edit">
<form name="fUsersedit" id="fUsersedit" class="@(usersEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
<script>
var currentTable = @Html.Raw(ConvertToJson(usersEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { Users: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fUsersedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fUsersedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["_Username", [fields._Username.visible && fields._Username.required ? ew.Validators.required(fields._Username.caption) : null], fields._Username.isInvalid],
            ["PasswordHash", [fields.PasswordHash.visible && fields.PasswordHash.required ? ew.Validators.required(fields.PasswordHash.caption) : null], fields.PasswordHash.isInvalid],
            ["_Name", [fields._Name.visible && fields._Name.required ? ew.Validators.required(fields._Name.caption) : null], fields._Name.isInvalid],
            ["PreferredTimezoneID", [fields.PreferredTimezoneID.visible && fields.PreferredTimezoneID.required ? ew.Validators.required(fields.PreferredTimezoneID.caption) : null], fields.PreferredTimezoneID.isInvalid],
            ["UserLevelID", [fields.UserLevelID.visible && fields.UserLevelID.required ? ew.Validators.required(fields.UserLevelID.caption) : null], fields.UserLevelID.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
            "PreferredTimezoneID": @Html.Raw(usersEdit.PreferredTimezoneID.ToClientList(usersEdit)),
            "UserLevelID": @Html.Raw(usersEdit.UserLevelID.ToClientList(usersEdit)),
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(usersEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(usersEdit.OldKeyName)" value="@Html.Raw(usersEdit.OldKey)">
<div class="ew-edit-div"><!-- page* -->
@if (usersEdit._Username.Visible) { // usersEdit._Username.Visible (begin)
    <div id="r__Username" @Html.Raw(usersEdit._Username.RowAttributes)>
        <label id="elh_Users__Username" for="x__Username" class="@(usersEdit.LeftColumnClass)">@Html.Raw(usersEdit._Username.Caption)@Html.Raw(usersEdit._Username.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(usersEdit.RightColumnClass)"><div @Html.Raw(usersEdit._Username.CellAttributes)>
<span id="el_Users__Username">
<input type="@(usersEdit._Username.InputTextType)" name="x__Username" id="x__Username" data-table="Users" data-field="x__Username" value="@Html.Raw(usersEdit._Username.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(usersEdit._Username.PlaceHolder))" data-format-pattern="@(usersEdit._Username.FormatPattern)"@Html.Raw(usersEdit._Username.EditAttributes) aria-describedby="x__Username_help">
@Html.Raw(usersEdit._Username.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(usersEdit._Username.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* usersEdit._Username.Visible (end) *@
@if (usersEdit.PasswordHash.Visible) { // usersEdit.PasswordHash.Visible (begin)
    <div id="r_PasswordHash" @Html.Raw(usersEdit.PasswordHash.RowAttributes)>
        <label id="elh_Users_PasswordHash" for="x_PasswordHash" class="@(usersEdit.LeftColumnClass)">@Html.Raw(usersEdit.PasswordHash.Caption)@Html.Raw(usersEdit.PasswordHash.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(usersEdit.RightColumnClass)"><div @Html.Raw(usersEdit.PasswordHash.CellAttributes)>
<span id="el_Users_PasswordHash">
<div class="input-group">
    <input type="password" name="x_PasswordHash" id="x_PasswordHash" autocomplete="new-password" data-field="x_PasswordHash" value="@(usersEdit.PasswordHash.EditValue)" size="30" maxlength="255" placeholder="@(HtmlEncode(usersEdit.PasswordHash.PlaceHolder))"@Html.Raw(usersEdit.PasswordHash.EditAttributes) aria-describedby="x_PasswordHash_help">
    <button type="button" class="btn btn-default ew-toggle-password rounded-end" data-ew-action="password"><i class="fa-solid fa-eye"></i></button>
</div>
@Html.Raw(usersEdit.PasswordHash.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(usersEdit.PasswordHash.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* usersEdit.PasswordHash.Visible (end) *@
@if (usersEdit._Name.Visible) { // usersEdit._Name.Visible (begin)
    <div id="r__Name" @Html.Raw(usersEdit._Name.RowAttributes)>
        <label id="elh_Users__Name" for="x__Name" class="@(usersEdit.LeftColumnClass)">@Html.Raw(usersEdit._Name.Caption)@Html.Raw(usersEdit._Name.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(usersEdit.RightColumnClass)"><div @Html.Raw(usersEdit._Name.CellAttributes)>
<span id="el_Users__Name">
<input type="@(usersEdit._Name.InputTextType)" name="x__Name" id="x__Name" data-table="Users" data-field="x__Name" value="@Html.Raw(usersEdit._Name.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(usersEdit._Name.PlaceHolder))" data-format-pattern="@(usersEdit._Name.FormatPattern)"@Html.Raw(usersEdit._Name.EditAttributes) aria-describedby="x__Name_help">
@Html.Raw(usersEdit._Name.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(usersEdit._Name.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* usersEdit._Name.Visible (end) *@
@if (usersEdit.PreferredTimezoneID.Visible) { // usersEdit.PreferredTimezoneID.Visible (begin)
    <div id="r_PreferredTimezoneID" @Html.Raw(usersEdit.PreferredTimezoneID.RowAttributes)>
        <label id="elh_Users_PreferredTimezoneID" for="x_PreferredTimezoneID" class="@(usersEdit.LeftColumnClass)">@Html.Raw(usersEdit.PreferredTimezoneID.Caption)@Html.Raw(usersEdit.PreferredTimezoneID.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(usersEdit.RightColumnClass)"><div @Html.Raw(usersEdit.PreferredTimezoneID.CellAttributes)>
<span id="el_Users_PreferredTimezoneID">
    <select
        id="x_PreferredTimezoneID"
        name="x_PreferredTimezoneID"
        class="form-select ew-select@(usersEdit.PreferredTimezoneID.IsInvalidClass)"
        data-select2-id="fUsersedit_x_PreferredTimezoneID"
        data-table="Users"
        data-field="x_PreferredTimezoneID"
        data-value-separator="@(usersEdit.PreferredTimezoneID.DisplayValueSeparatorAttribute)"
        data-placeholder="@(HtmlEncode(usersEdit.PreferredTimezoneID.PlaceHolder))"
        @Html.Raw(usersEdit.PreferredTimezoneID.EditAttributes)>
        @(usersEdit.PreferredTimezoneID.SelectOptionListHtml("x_PreferredTimezoneID"))
    </select>
    @Html.Raw(usersEdit.PreferredTimezoneID.GetCustomMessage)
    <div class="invalid-feedback">@Html.Raw(usersEdit.PreferredTimezoneID.GetErrorMessage())</div>
@Html.Raw(usersEdit.PreferredTimezoneID.Lookup.GetParamTag(usersEdit, "p_x_PreferredTimezoneID"))
<script>
loadjs.ready("fUsersedit", function() {
    var options = { name: "x_PreferredTimezoneID", selectId: "fUsersedit_x_PreferredTimezoneID" },
        el = document.querySelector("select[data-select2-id='" + options.selectId + "']");
    if (!el)
        return;
    options.closeOnSelect = !options.multiple;
    options.dropdownParent = el.closest("#ew-modal-dialog, #ew-add-opt-dialog");
    if (fUsersedit.lists.PreferredTimezoneID?.lookupOptions.length) {
        options.data = { id: "x_PreferredTimezoneID", form: "fUsersedit" };
    } else {
        options.ajax = { id: "x_PreferredTimezoneID", form: "fUsersedit", limit: ew.LOOKUP_PAGE_SIZE };
    }
    options.minimumResultsForSearch = Infinity;
    options = Object.assign({}, ew.selectOptions, options, ew.vars.tables.Users.fields.PreferredTimezoneID.selectOptions);
    ew.createSelect(options);
});
</script>
</span>
</div></div>
    </div>
} @* usersEdit.PreferredTimezoneID.Visible (end) *@
@if (usersEdit.UserLevelID.Visible) { // usersEdit.UserLevelID.Visible (begin)
    <div id="r_UserLevelID" @Html.Raw(usersEdit.UserLevelID.RowAttributes)>
        <label id="elh_Users_UserLevelID" for="x_UserLevelID" class="@(usersEdit.LeftColumnClass)">@Html.Raw(usersEdit.UserLevelID.Caption)@Html.Raw(usersEdit.UserLevelID.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(usersEdit.RightColumnClass)"><div @Html.Raw(usersEdit.UserLevelID.CellAttributes)>
@if (!Security.IsAdmin && Security.IsLoggedIn) { // Non system admin
<span id="el_Users_UserLevelID">
<span class="form-control-plaintext">@Html.Raw(usersEdit.UserLevelID.DisplayValue(usersEdit.UserLevelID.EditValue))</span>
</span>
} else {
<span id="el_Users_UserLevelID">
    <select
        id="x_UserLevelID"
        name="x_UserLevelID"
        class="form-select ew-select@(usersEdit.UserLevelID.IsInvalidClass)"
        data-select2-id="fUsersedit_x_UserLevelID"
        data-table="Users"
        data-field="x_UserLevelID"
        data-value-separator="@(usersEdit.UserLevelID.DisplayValueSeparatorAttribute)"
        data-placeholder="@(HtmlEncode(usersEdit.UserLevelID.PlaceHolder))"
        @Html.Raw(usersEdit.UserLevelID.EditAttributes)>
        @(usersEdit.UserLevelID.SelectOptionListHtml("x_UserLevelID"))
    </select>
    @Html.Raw(usersEdit.UserLevelID.GetCustomMessage)
    <div class="invalid-feedback">@Html.Raw(usersEdit.UserLevelID.GetErrorMessage())</div>
@Html.Raw(usersEdit.UserLevelID.Lookup.GetParamTag(usersEdit, "p_x_UserLevelID"))
<script>
loadjs.ready("fUsersedit", function() {
    var options = { name: "x_UserLevelID", selectId: "fUsersedit_x_UserLevelID" },
        el = document.querySelector("select[data-select2-id='" + options.selectId + "']");
    if (!el)
        return;
    options.closeOnSelect = !options.multiple;
    options.dropdownParent = el.closest("#ew-modal-dialog, #ew-add-opt-dialog");
    if (fUsersedit.lists.UserLevelID?.lookupOptions.length) {
        options.data = { id: "x_UserLevelID", form: "fUsersedit" };
    } else {
        options.ajax = { id: "x_UserLevelID", form: "fUsersedit", limit: ew.LOOKUP_PAGE_SIZE };
    }
    options.minimumResultsForSearch = Infinity;
    options = Object.assign({}, ew.selectOptions, options, ew.vars.tables.Users.fields.UserLevelID.selectOptions);
    ew.createSelect(options);
});
</script>
</span>
}
</div></div>
    </div>
} @* usersEdit.UserLevelID.Visible (end) *@
</div><!-- /page* -->
    <input type="hidden" data-table="Users" data-field="x_Id" data-hidden="1" name="x_Id" id="x_Id" value="@Html.Raw(HtmlEncode(usersEdit.Id.CurrentValue))">
@{ usersEdit.CloseRecordset(); }
@Html.Raw(usersEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(usersEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fUsersedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fUsersedit" data-href="@AppPath(usersEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(usersEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
</main>
@usersEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("Users");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
