@{
    // View
    View = this;

    // Check action result
    if (usersAdd.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = usersAdd.UseLayout ? "_Layout" : "";
}
<script>
var currentTable = @Html.Raw(ConvertToJson(usersAdd.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { Users: currentTable } });
var currentPageID = ew.PAGE_ID = "add";
var currentForm;
var fUsersadd;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fUsersadd")
        .setPageId("add")

        // Add fields
        .setFields([

            ["_Username", [fields._Username.visible && fields._Username.required ? ew.Validators.required(fields._Username.caption) : null], fields._Username.isInvalid],
            ["PasswordHash", [fields.PasswordHash.visible && fields.PasswordHash.required ? ew.Validators.required(fields.PasswordHash.caption) : null], fields.PasswordHash.isInvalid],
            ["_Name", [fields._Name.visible && fields._Name.required ? ew.Validators.required(fields._Name.caption) : null], fields._Name.isInvalid],
            ["PreferredTimezone", [fields.PreferredTimezone.visible && fields.PreferredTimezone.required ? ew.Validators.required(fields.PreferredTimezone.caption) : null], fields.PreferredTimezone.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@usersAdd.ShowPageHeader()
@usersAdd.ShowMessages()
<form name="fUsersadd" id="fUsersadd" class="@(usersAdd.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="insert">
<input type="hidden" name="modal" value="@ConvertToInt(usersAdd.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(usersAdd.OldKeyName)" value="@Html.Raw(usersAdd.OldKey)">
<div class="ew-add-div"><!-- page* -->
@if (usersAdd._Username.Visible) { // usersAdd._Username.Visible (begin)
    <div id="r__Username" @Html.Raw(usersAdd._Username.RowAttributes)>
        <label id="elh_Users__Username" for="x__Username" class="@(usersAdd.LeftColumnClass)">@Html.Raw(usersAdd._Username.Caption)@Html.Raw(usersAdd._Username.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(usersAdd.RightColumnClass)"><div @Html.Raw(usersAdd._Username.CellAttributes)>
<span id="el_Users__Username">
<input type="@(usersAdd._Username.InputTextType)" name="x__Username" id="x__Username" data-table="Users" data-field="x__Username" value="@Html.Raw(usersAdd._Username.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(usersAdd._Username.PlaceHolder))" data-format-pattern="@(usersAdd._Username.FormatPattern)"@Html.Raw(usersAdd._Username.EditAttributes) aria-describedby="x__Username_help">
@Html.Raw(usersAdd._Username.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(usersAdd._Username.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* usersAdd._Username.Visible (end) *@
@if (usersAdd.PasswordHash.Visible) { // usersAdd.PasswordHash.Visible (begin)
    <div id="r_PasswordHash" @Html.Raw(usersAdd.PasswordHash.RowAttributes)>
        <label id="elh_Users_PasswordHash" for="x_PasswordHash" class="@(usersAdd.LeftColumnClass)">@Html.Raw(usersAdd.PasswordHash.Caption)@Html.Raw(usersAdd.PasswordHash.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(usersAdd.RightColumnClass)"><div @Html.Raw(usersAdd.PasswordHash.CellAttributes)>
<span id="el_Users_PasswordHash">
<input type="@(usersAdd.PasswordHash.InputTextType)" name="x_PasswordHash" id="x_PasswordHash" data-table="Users" data-field="x_PasswordHash" value="@Html.Raw(usersAdd.PasswordHash.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(usersAdd.PasswordHash.PlaceHolder))" data-format-pattern="@(usersAdd.PasswordHash.FormatPattern)"@Html.Raw(usersAdd.PasswordHash.EditAttributes) aria-describedby="x_PasswordHash_help">
@Html.Raw(usersAdd.PasswordHash.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(usersAdd.PasswordHash.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* usersAdd.PasswordHash.Visible (end) *@
@if (usersAdd._Name.Visible) { // usersAdd._Name.Visible (begin)
    <div id="r__Name" @Html.Raw(usersAdd._Name.RowAttributes)>
        <label id="elh_Users__Name" for="x__Name" class="@(usersAdd.LeftColumnClass)">@Html.Raw(usersAdd._Name.Caption)@Html.Raw(usersAdd._Name.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(usersAdd.RightColumnClass)"><div @Html.Raw(usersAdd._Name.CellAttributes)>
<span id="el_Users__Name">
<input type="@(usersAdd._Name.InputTextType)" name="x__Name" id="x__Name" data-table="Users" data-field="x__Name" value="@Html.Raw(usersAdd._Name.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(usersAdd._Name.PlaceHolder))" data-format-pattern="@(usersAdd._Name.FormatPattern)"@Html.Raw(usersAdd._Name.EditAttributes) aria-describedby="x__Name_help">
@Html.Raw(usersAdd._Name.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(usersAdd._Name.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* usersAdd._Name.Visible (end) *@
@if (usersAdd.PreferredTimezone.Visible) { // usersAdd.PreferredTimezone.Visible (begin)
    <div id="r_PreferredTimezone" @Html.Raw(usersAdd.PreferredTimezone.RowAttributes)>
        <label id="elh_Users_PreferredTimezone" for="x_PreferredTimezone" class="@(usersAdd.LeftColumnClass)">@Html.Raw(usersAdd.PreferredTimezone.Caption)@Html.Raw(usersAdd.PreferredTimezone.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(usersAdd.RightColumnClass)"><div @Html.Raw(usersAdd.PreferredTimezone.CellAttributes)>
<span id="el_Users_PreferredTimezone">
<input type="@(usersAdd.PreferredTimezone.InputTextType)" name="x_PreferredTimezone" id="x_PreferredTimezone" data-table="Users" data-field="x_PreferredTimezone" value="@Html.Raw(usersAdd.PreferredTimezone.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(usersAdd.PreferredTimezone.PlaceHolder))" data-format-pattern="@(usersAdd.PreferredTimezone.FormatPattern)"@Html.Raw(usersAdd.PreferredTimezone.EditAttributes) aria-describedby="x_PreferredTimezone_help">
@Html.Raw(usersAdd.PreferredTimezone.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(usersAdd.PreferredTimezone.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* usersAdd.PreferredTimezone.Visible (end) *@
</div><!-- /page* -->
@{ usersAdd.CloseRecordset(); }
@Html.Raw(usersAdd.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(usersAdd.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fUsersadd">@Html.Raw(Language.Phrase("AddBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fUsersadd" data-href="@AppPath(usersAdd.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(usersAdd.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
@usersAdd.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("Users");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
